.EditorMain {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;
}

.TopEditor {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 10%;

    width: 50%;

    background-color: var(--bg2-color);
    border-radius: 3px;
    border: 1px solid var(--border-color);
}

:global(#title_tablet) {
    width: 100%;
    height: 100%;

    border: none;
    background-color: transparent;
    color: var(--text-color);
    outline: none;

    padding: 10px 15px;

    font-family: 'Nunito';
    font-size: 1.5rem;
}

:global(#content_tablet) {
    width: 100%;
    height: 100%;

    border: none;
    background-color: transparent;

    color: var(--text-color);
    outline: none;
    resize: none;
    text-align: left;

    line-height: 25px;

    padding: 10px 15px;

    font-family: 'Nunito';
    font-size: 0.9rem;
}

.EditorArea {
    display: flex;
    flex-direction: column;
    
    width: 50%;
    height: 90%;

    background-color: var(--bg2-color);
    border-radius: 3px;
    border: 1px solid var(--border-color);
}


