.AlertBoxMain {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;
}

.Box {
    width: 40%;
    height: 25%;

    background-color: var(--bg2-color);
    border-radius: 5px;
    border: 1px solid var(--border-color);

    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
}

.Box p {
    width: 100%;
    height: 10%;
    font-size: 1.1rem;
}

.Box input {
    width: 100%;
    height: 60%;

    padding: 5px;

    font-family: 'Nunito';
    border: none;
    background-color: transparent;
    color: var(--text-color);

    text-transform: uppercase;
}

.BtnsAB {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    width: 100%;
    height: 30%;
}

.BtnsAB button {
    width: 30%;
    height: 30px;

    border-radius: 2px;
    border: none;
    font-family: 'Nunito';

    transition: 0.2s;
}

.BtnsAB button:hover {
    opacity: 0.5;
}

:global(#cancel) {
    background-color: rgb(81, 88, 80);
    color: rgba(255, 255, 255);
}

:global(#action_Delete) {
    background-color: rgb(241, 91, 45);
    color: rgba(255, 255, 255);
}

:global(#action_Seal) {
    background-image: linear-gradient(to left, rgb(75, 67, 104), rgb(68, 73, 119), rgb(75, 95, 119));
    color: rgba(255, 255, 255);
}