* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow: hidden;
}

body {
    color: var(--text-color);
    font-family: 'Nunito';
}

.AppContentScreen {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 100%;
    gap: 5px;

    padding: 10px;
}

.AppBackground {
    background-color: var(--bg-color);
    width: 100vw;
    height: 100vh;

    background-color: #0a0a0a;
    background-image:
        linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
        linear-gradient(rgba(255,255,255, 0) 2px, transparent 2px),
        linear-gradient(90deg, rgba(255,255,255, 0) 2px, transparent 2px);
    background-size:
        20px 20px,
        20px 20px,
        100px 100px,
        100px 100px;

    z-index: -1;
}